{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Rafif's Website</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'MySiteStyle.css' %}">	
	<link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="{% static 'js/base.js' %}"></script>
</head>

<body style="height: ">
	<div class="loader">
		<div title="text" style="text-align: center;">
			<p style="font-size: 75px;color: white">Welcome to My Website!</p>
			<p style="font-size: 75px;color: white">Please Wait...</p>
		</div>
		<div class='progress progress-striped active'>
			<div class='progress-bar progress-bar-color' id='bar' role='progressbar' style='width: 0%;'></div>
		</div>
	</div>

	<div id="content">
    <!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand active" href="{% url 'mysite:index' %}"> <img src="{% static "Logo.png" %}" style="width:50px;"><span class="sr-only">(current)</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  	<span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  	<ul class="navbar-nav mr-auto">
				<li class="nav-item">
			 		 <a class="nav-link" href="{% url 'mysite:mainpage' %}">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'mysite:message' %}">Message Me</a>
			  	</li>
			  	<li class="nav-item">
					<a class="nav-link" href="{% url 'mysite:schedule_form' %}">Add Schedule</a>
			  	</li>
			  	<li class="nav-item">
					<a class="nav-link" href="{% url 'mysite:schedule_view' %}">My Schedule</a>
			  	</li>
			  	<li class="nav-item">
					<a class="nav-link" href="{% url 'mysite:registration' %}">Subscribe</a>
			  	</li>
		  	</ul>
		</div>
	</nav>

	<div style="text-align: center;">
		<a href="{% url 'mysite:mainpage' %}">
			<img src="{% static 'Logo.png' %}" class="logo">	
		</a>
	</div>
    {% block content %}
    {% endblock %}
    <div class="jumbotron footer">
  		<div class="container">
    		<h2 style="text-align: center;color: white">Want to know more about me?</h2>
    		<svg height="10" width="70%" style="margin-left: 1%;">
	  		<line x1="45%" y1="0" x2="95%" y2="0" style="stroke:#56CCF2 ;stroke-width:20;" />
	  		Sorry, your browser does not support inline SVG.
			</svg>
			<br><br>
    		<div class="container">
			  	<div class="row">
			    	<div class="col-sm">
			      		<img src="https://pbs.twimg.com/media/DnfEqdBVAAAIeiD.png" class="align-self-center mr-3 socmedLogo">
			      		<p id="socmedID">@rafiftaris</p>
			    	</div>
				    <div class="col-sm">
				      <img src="https://pbs.twimg.com/media/DnfEqdCV4AAjnr0.png" class="align-self-center mr-3 socmedLogo">
				      <p id="socmedID">@rafiftaris</p>
				    </div>
				    <div class="col-sm">
				      <img src="https://pbs.twimg.com/media/DnfEqczUcAEE1A-.png" class="align-self-center mr-3 socmedLogo">
				      <p id="socmedID">rafiftaris1@gmail.com</p>
				    </div>
				    <div class="col-sm">
				      <img src="https://pbs.twimg.com/media/DnfEqdBV4AA73Jp.png" class="align-self-center mr-3 socmedLogo">
				      <p id="socmedID">Rafif Taris</p>
				    </div>
				</div>
				{% block footer %}
				{% endblock %}
			</div>
		</div>
	</div>
</div>
</body>
</html>