{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Rafif's Website</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'MySiteStyle.css' %}">	
	<link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'datatables.min.css' %}">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>


</head>

<body style="height: ">
	<div id="content">
    <!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand active" href="{% url 'mysite:index' %}"> <img src="{% static "Logo.png" %}" style="width:50px;"><span class="sr-only">(current)</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  	<span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  	<ul class="navbar-nav mr-auto">
				<li class="nav-item">
			 		 <a class="nav-link" href="{% url 'mysite:mainpage' %}">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'mysite:message' %}">Message Me</a>
			  	</li>
			  	<li class="nav-item">
					<a class="nav-link" href="{% url 'mysite:schedule_form' %}">Add Schedule</a>
			  	</li>
			  	<li class="nav-item">
					<a class="nav-link" href="{% url 'mysite:schedule_view' %}">My Schedule</a>
			  	</li>
			  	<li class="nav-item">
					<a class="nav-link" href="{% url 'mysite:registration' %}">Subscribe</a>
			  	</li>
		  	</ul>
		</div>
	</nav>

	<div style="text-align: center;">
		<a href="{% url 'mysite:mainpage' %}">
			<img src="{% static 'Logo.png' %}" class="logo">	
		</a>
	</div>
<br>

<!-- Form section -->
<section name='form' class="form-regis">
	<br>
	<div class="form-regis">
	<p style="text-align: center; font-size: 30px; color: white">Subscription  Form</p><br>
		<form id="form" method="POST" onsubmit="postform()">
			{% csrf_token %}
			<div class="form-group">
				<label style="color: white">{{ form.name.label }}</label><br>
				{{ form.name }}
			</div>
			<div class="form-group">
				<label style="color: white">{{ form.email.label }}</label><br>
				{{ form.email }}
			</div>
			<small id="emailHelp" class="form-text" style="color: white"></small>
			<br>
			<div class="form-group">
				<label style="color: white">{{ form.password.label }}</label><br>
				{{ form.password }}
			</div>
			<button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
		</form>
		<br>
	</div>
</section>

<br><br>

<!-- List section -->
<div style="text-align: center;">
	<h2>~ Subscriber List ~</h2>
</div>

<br>

<div style="margin-left: 10%;margin-right: 10%">
  <table id="table" class="table table-hover table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead class="thead-dark">
    <tr>
    	<th class="th-sm">No
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Nama
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Email
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Unsubscribe
      </th>
    </tr>
  </thead>
</table>
</div>

<div class="jumbotron footer">
  		<div class="container">
    		<h2 style="text-align: center;color: white">Want to know more about me?</h2>
    		<svg height="10" width="70%" style="margin-left: 1%;">
	  		<line x1="45%" y1="0" x2="95%" y2="0" style="stroke:#56CCF2 ;stroke-width:20;" />
	  		Sorry, your browser does not support inline SVG.
			</svg>
			<br><br>
    		<div class="container">
			  	<div class="row">
			    	<div class="col-sm">
			      		<img src="https://pbs.twimg.com/media/DnfEqdBVAAAIeiD.png" class="align-self-center mr-3 socmedLogo">
			      		<p id="socmedID">@rafiftaris</p>
			    	</div>
				    <div class="col-sm">
				      <img src="https://pbs.twimg.com/media/DnfEqdCV4AAjnr0.png" class="align-self-center mr-3 socmedLogo">
				      <p id="socmedID">@rafiftaris</p>
				    </div>
				    <div class="col-sm">
				      <img src="https://pbs.twimg.com/media/DnfEqczUcAEE1A-.png" class="align-self-center mr-3 socmedLogo">
				      <p id="socmedID">rafiftaris1@gmail.com</p>
				    </div>
				    <div class="col-sm">
				      <img src="https://pbs.twimg.com/media/DnfEqdBV4AA73Jp.png" class="align-self-center mr-3 socmedLogo">
				      <p id="socmedID">Rafif Taris</p>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Email Validation Webservice -->
<script type="text/javascript">
	var email_valid = false;
	var email = document.getElementById('email-field');
	var timeout = null;

	email.onkeyup = function(e){
		clearTimeout(timeout);
		timeout = setTimeout(function(){
			console.log('start verification')
			$.ajax({
				method : "POST",
				url : "{% url 'mysite:email_verification' %}",
				data : {
					"email" : email.value
				},
				success : function(data){
					if(data.is_taken){
						console.log('email taken');
						$("#emailHelp").text('Email has been taken. Please register another email.');
					}
					else{
						if(data.is_valid){
							console.log('email available');
							$("#emailHelp").text('Email available.');
							email_valid = true;
						}
					}
				}
			})
		},1000);
	}

	function postform(){
		console.log('MASHOOOK')
		$.ajax({
			type:'POST',
			url:"{% url 'mysite:add_subscriber' %}",
			data:{ 
				name: $('#name-field').val(),
				email: $('#email-field').val(),
				password: $('#password-field').val(),
			},
			success: function(){
				alert("Terimakasih telah mendaftar jadi subscriber.")
				window.location.reload();
			},
		})
	}

	function display_list(){
		$.ajax({
			type:'GET',
			url:"{% url 'mysite:add_subscriber' %}",
			success: function(result){
				var acc_list = result;
				jsontoHTML(acc_list);
			},
		});
	}

	function jsontoHTML(acc_list){
		var table = document.getElementById("table");
		htmlString = "<tbody>";
		for(var i = 0;i<acc_list.length;i++){
			htmlString += "<tr>" +
			"<td><p>" + (i+1) + "</p></td>" +
			"<td><p>" + acc_list[i].name + "</p></td>" +
			'<td><p  id="email-'+ i +'">' + acc_list[i].email + "</p></td>" +
			"<td>" + '<button class="btn btn-danger" onclick=unsubscribe(this.id) id="'+ i +'">Unsubscribe</button>' + "</td>" +
			"</tr>";
		}
		table.insertAdjacentHTML('beforeend',htmlString + "</tbody>")
		$('#table').DataTable();
		$('.dataTables_length').addClass('bs-select');
	}

	function unsubscribe(id){
		var email = $('#email-' + id).text();
		console.log(email);
		validate(email)
	}

	function validate(email){
		var password = prompt("Insert password to unsubscribe")
		console.log(password);
		$.ajax({
			method:'POST',
			data:{
				email : email,
				password : password
			},
			url : "unsubscribe/" + email + "/" + password + "/",
			success : function(){
				console.log('horee');
				window.location.reload();
			}
		});
	};
	

	$(document).ready(function(){
		console.log('ready')
		display_list();
		validation();
		$('#name-field, #email-field, #password-field').change(validation);

		function validation(){
			console.log('validation')
			if(email_valid == true && $('#name-field').val().length>0 && $('#email-field').val().length>0 && $('#password-field').val().length>0){
				console.log('can submit');
				$("#submit-btn").attr("disabled",false);
			}
			else{
				console.log('cant submit');
				$("#submit-btn").attr("disabled",true); 
			} 
		}
	});
</script>

</body>
</html>