{% extends 'base.html' %}

{% load static %}
{% block content %}
<br>
<p style="text-align: center; font-size: 30px;">~ My Schedule ~</p>
<br>

	{% if jadwal %}
		<div style="text-align: center;">
			<button type="button" class="btn btn-danger" onclick="location.href='{% url 'mysite:schedule_reset' %}'">Delete Schedule</button>
		</div>
		{% for acara in jadwal %}
		<br>
		<div class='rcorners1'>
			<br>
			<p>&ensp;{{ acara.event }}</p>
			<p>&ensp;Date     : {{ acara.date }}</p>
			<p>&ensp;Time     : {{ acara.time }}</p>
			<p>&ensp;Venue    : {{ acara.venue }}</p>
			<p>&ensp;Category : {{ acara.category }}</p>
		</div>
		{% endfor %}
	{% else %}
	<br><br>
	<p style="text-align: center;font-size: 30px;">Belum ada jadwal</p>
	{% endif %}

{% endblock %}
