{% extends 'base.html' %}
{% load static %}

{% block content %}
	<br>
	<div id="theme-changer" style="text-align: center;">
		<select class="theme-select"></select>
		<button class="btn apply-button">Change Theme</button>
	</div>
	<br>
	<div class="rcorners1" class="container-fluid">	
		<img src="{% static 'ProfilePhoto.jpg' %}" id="ProfilePhoto">
		<p style="padding: 30px">Hello, I'm &ensp;<span style="font-family: 'Rock Salt', cursive;">Rafif Taris</span><br>
			<span style="font-size: 20px"> A self-reliant man with an imaginative mind. Currently studying web programming and developing my skills. I am striving for better life achievements and also trying to be genuine and considerate person.</p>
	</div>
	<br><br>

		<div class="rcorners2">
			<button class="btn btn-light accordion">
				<p class="subtitle">&ensp;Experience</p>
				<svg height="10" width="125">
					<line x1="14" y1="0" x2="125" y2="0" style="stroke:#56CCF2 ;stroke-width:20;" />
					Sorry, your browser does not support inline SVG.
				</svg>
			</button>			
			<div class="panel">
				<ul class="list-unstyled">
				  <li class="media my-4">
				    <img class="align-self-center mr-3 eventLogo" src="{% static 'Betis.jpg' %}" alt="Generic placeholder image">
				    <div class="media-body">
				      <h5 style="font-family: 'Reem Kufi', sans-serif;">Staff of Public Relation and Partnership BETIS 2018</h5>
				    </div>
				  </li>
				  <li class="media my-4">
				   	<img class="align-self-center mr-3 eventLogo" src="{% static 'CGT.jpg' %}" alt="Generic placeholder image">
				    <div class="media-body">
				      <h5 style="font-family: 'Reem Kufi', sans-serif;">Staff of Bazaar CGT 2018</h5>
				    </div>
				  </li>
				  <li class="media my-4">
				    <img class="align-self-center mr-3 eventLogo" src="{% static 'keilmuan.png' %}" alt="Generic placeholder image">
				    <div class="media-body">
				      <h5 style="font-family: 'Reem Kufi', sans-serif;">Staff of Science Department BEM Fasilkom UI 2018</h5>
				    </div>
				  </li>
				  <li class="media my-4">
				    <img class="align-self-center mr-3 eventLogo" src="{% static 'Wisgen.jpg' %}" alt="Generic placeholder image">
				    <div class="media-body">
				      <h5 style="font-family: 'Reem Kufi', sans-serif;">Staff of Liaison Officer Wisuda Genap 2018</h5>
				    </div>
				  </li>
				  <li class="media my-4">
				    <img class="align-self-center mr-3 eventLogo" src="{% static 'OpenHouse.jpg' %}" alt="Generic placeholder image">
				    <div class="media-body">
				      <h5 style="font-family: 'Reem Kufi', sans-serif;">Staff of Creative Open House Fasilkom UI 2018</h5>
				    </div>
				  </li>
				</ul>
			</div>
		</div>

		<div class="rcorners3">
			<button class="btn btn-light accordion">
				<p class="subtitle">&ensp;Activity</p>
				<svg height="10" width="125">
		  		<line x1="30" y1="0" x2="105" y2="0" style="stroke:#56CCF2 ;stroke-width:20;" />
		  		Sorry, your browser does not support inline SVG.
				</svg>
			</button>
			<div class="panel">
			<p>forever:</p>
			<ol>
			  <li>
			  	<p>Eat</p>
			  </li>
			  <li>
			  	<p>Pray</p>
			  </li>
			  <li>
			  	<p>Code till drop</p>
			  </li>
			  <li>
			    <p>rjmp forever</p>
			  </li>
			</ol>
			</div>
		</div>

		<div class="rcorners3" style="margin-top: 30px;">
			<button class="btn btn-light accordion">
				<p class="subtitle">&ensp;Achievements</p>
				<svg height="10" width="150">
		  		<line x1="10" y1="0" x2="150" y2="0" style="stroke:#56CCF2 ;stroke-width:20;" />
		  		Sorry, your browser does not support inline SVG.
				</svg>
			</button>
			<div class="panel">
				<ul>
					<li><p>50 besar OSN Fisika tingkat Provinsi</p></li>
					<li><p>Udah itu aja gaada lagi</p></li>
				</ul>
			</div>
		</div>

	

	<div class="rcorners1 quoteBox">
		<p id="quote"><br><br>Be who you are and say what you feel, because those who mind don't matter and those who matter don't mind.<br>- Dr. Seuss</p>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
	<script src="{% static 'js/Profile.js' %}"></script>
	{% endblock %}	
	{% block footer %}
	{% endblock %}