{% extends 'base.html' %}
{% load static %}

{% block content %}

	<br>
	<p style="text-align: center; font-size: 30px;">~ Registration Form ~</p>
	<div style="text-align: center; display: none; font-size: 20px" id="thanks">Thank you for registering yourself at this website!</div><br>
	<form style="text-align: center;">
	  <div class="form-group">
	    <label for="exampleInputName1">Nama</label>
	    <input type="text" class="form-control" id="exampleInputName1" placeholder="Nama" style="width: 30%; margin: 0% 35% 0% 35%;">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputDate1">Tanggal Lahir</label>
	    <input type="date" class="form-control" id="exampleInputDate1" aria-describedby="dateHelp" placeholder="dd/mm/yyyy" style="width: 30%; margin: 0% 35% 0% 35%;">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email Address</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="width: 30%; margin: 0% 35% 0% 35%;">
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputUsername1">Username</label>
	    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username" style="width: 30%; margin: 0% 35% 0% 35%;">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="width: 30%; margin: 0% 35% 0% 35%;">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password Confirmation</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password Confirmation" style="width: 30%; margin: 0% 35% 0% 35%;">
	  </div>
	  <button type="submit" class="btn btn-primary" style="margin-left: 0.2%" onclick="appear()">Submit</button>
	</form>

	<script type="text/javascript">
		function appear(){
			document.getElementById("thanks").display = block;
		}
	</script>
	<br><br>
{% endblock %}