{% extends 'logoNavbar.html' %}

{% block content %}
  <div id = "center_content">
  <h1> HELLO! </h1>
  <h2> How are you?</h2>
  <br>
  <section name="form" style="text-align: center;">
  		<h3>~ Write Your Status Here ~</h3><br>
  		<form id="form" method="POST" action="{% url 'landing_page:landing_page' %}">
  			{% csrf_token %}
  			{% for field in form %}
  			<div class="form-group">
  			    <label for="exampleInputName1">
  			    {{ field }}
  			    </label>
  			</div>
  			{% endfor %}
  			<br>
  			<button id="submit_btn" type="submit" class="btn btn-primary">Submit</button>
  		</form>
  </section>

  <br><br>
  <h3>~ Status Collection ~</h3>
  <br>
  {% if status2 %}
      <div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope='col'>Activity</th>
            </tr>
          </thead>
          <tbody>
          {% for status in status2 %}
            <tr>
              <td>{{ status.time }}  &ensp; {{ status.status }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  {% else %}
  <h3 style="color: 'red'">Belum ada status</h3>
  {% endif %}
</div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}