{% extends 'logoNavbar.html' %}
{% load static %}

{% block content %}

	<br>
	<div class="rcorners1" class="container-fluid">	
		<img src="{% static 'ProfilePhoto.jpg' %}" id="ProfilePhoto">
		<p style="padding: 30px">Hello, I'm &ensp;<span style="font-family: 'Rock Salt', cursive;">Rafif Taris</span><br>
			<span style="font-size: 20px"> A self-reliant man with an imaginative mind. Currently studying web programming and developing my skills. I am striving for better life achievements and also trying to be genuine and considerate person.</p>
	</div>
	<br><br>
		<div class="rcorners2">
			<br>		
			<p class="subtitle">&ensp;Experience</p>
			<svg height="10" width="125">
	  		<line x1="14" y1="0" x2="125" y2="0" style="stroke:#56CCF2 ;stroke-width:20;" />
	  		Sorry, your browser does not support inline SVG.
			</svg>
			<ul class="list-unstyled">
			  <li class="media my-4">
			    <img class="align-self-center mr-3 eventLogo" src="{% static 'Betis.jpg' %}" alt="Generic placeholder image">
			    <div class="media-body">
			      <h5 style="font-family: 'Reem Kufi', sans-serif;">Staff of Public Relation and Partnership BETIS 2018</h5>
			    </div>
			  </li>
			  <li class="media my-4">
			   	<img class="align-self-center mr-3 eventLogo" src="{% static 'CGT.jpg' %}" alt="Generic placeholder image">
			    <div class="media-body">
			      <h5 style="font-family: 'Reem Kufi', sans-serif;">Staff of Bazaar CGT 2018</h5>
			    </div>
			  </li>
			  <li class="media my-4">
			    <img class="align-self-center mr-3 eventLogo" src="{% static 'keilmuan.png' %}" alt="Generic placeholder image">
			    <div class="media-body">
			      <h5 style="font-family: 'Reem Kufi', sans-serif;">Staff of Science Department BEM Fasilkom UI 2018</h5>
			    </div>
			  </li>
			  <li class="media my-4">
			    <img class="align-self-center mr-3 eventLogo" src="{% static 'Wisgen.jpg' %}" alt="Generic placeholder image">
			    <div class="media-body">
			      <h5 style="font-family: 'Reem Kufi', sans-serif;">Staff of Liaison Officer Wisuda Genap 2018</h5>
			    </div>
			  </li>
			  <li class="media my-4">
			    <img class="align-self-center mr-3 eventLogo" src="{% static 'OpenHouse.jpg' %}" alt="Generic placeholder image">
			    <div class="media-body">
			      <h5 style="font-family: 'Reem Kufi', sans-serif;">Staff of Creative Open House Fasilkom UI 2018</h5>
			    </div>
			  </li>
			</ul>


		</div>

		<div class="rcorners3">
			<br>
			<p class="subtitle">&ensp;Education</p>
			<svg height="10" width="125">
	  		<line x1="14" y1="0" x2="115" y2="0" style="stroke:#56CCF2 ;stroke-width:20;" />
	  		Sorry, your browser does not support inline SVG.
			</svg>
			<ul class="list-unstyled">
			  <li class="media my-4">
			    <img class="align-self-center mr-3 eduLogo" src="https://pbs.twimg.com/media/Dnd6KCaUcAA1VeY.png" alt="Generic placeholder image">
			    <div class="media-body">
			      <h5 style="font-family: 'Reem Kufi', sans-serif;">SD Kartika VIII/I</h5>
			    </div>
			  </li>
			  <li class="media my-4">
			   	<img class="align-self-center mr-3 eduLogo" src="https://pbs.twimg.com/media/Dnd6KCpVYAAHv-P.jpg" alt="Generic placeholder image">
			    <div class="media-body">
			      <h5 style="font-family: 'Reem Kufi', sans-serif;">SMPN 49 Jakarta</h5>
			    </div>
			  </li>
			  <li class="media my-4">
			    <img class="align-self-center mr-3 eduLogo" src="https://pbs.twimg.com/media/Dnd6KCLU8AEFCoS.jpg" alt="Generic placeholder image">
			    <div class="media-body">
			      <h5 style="font-family: 'Reem Kufi', sans-serif;">SMAN 39 Jakarta</h5>
			    </div>
			  </li>
			  <li class="media my-4">
			    <img class="align-self-center mr-3 eduLogo" src="https://pbs.twimg.com/media/Dnd6KCdUYAALk4U.png" alt="Generic placeholder image">
			    <div class="media-body">
			      <h5 style="font-family: 'Reem Kufi', sans-serif;">Fasilkom UI</h5>
			    </div>
			  </li>
			</ul>
		</div>

		<div class="rcorners3" style="margin-top: 30px;">
			<br>
			<p class="subtitle">&ensp;Skills</p>
			<svg height="10" width="125">
	  		<line x1="14" y1="0" x2="62" y2="0" style="stroke:#56CCF2 ;stroke-width:20;" />
	  		Sorry, your browser does not support inline SVG.
			</svg>
			<br><br>	
			<p style="margin-left:5%; font-size: 20px;">Teamworking</p><br><br>
			<p style="margin-left:50%; font-size: 20px;">Time Management</p><br><br>
			<p style="margin-left:5%; font-size: 20px;">Multitasking</p><br><br>
			
		</div>

	

	<div class="rcorners1 quoteBox">
		<p id="quote"><br><br>Be who you are and say what you feel, because those who mind don't matter and those who matter don't mind.<br>- Dr. Seuss</p>
	</div>
	{% endblock %}	
	{% block footer %}
	{% endblock %}