{% extends 'base_template.html' %}
{% load static %}

{% block content %}
<br><br>
<div style="text-align: center">
	<h1>You must sign in to access the library</h1>
	<br>
</div>
<script>
	function start() {
		gapi.load('auth2', function() {
			auth2 = gapi.auth2.init({
			  client_id: 'YOUR_CLIENT_ID.apps.googleusercontent.com',
			  // Scopes to request in addition to 'profile' and 'email'
			  //scope: 'additional_scope'
			});
		});
	}
	function onSignIn(googleUser) {
		var profile = googleUser.getBasicProfile();
		console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
		console.log('Name: ' + profile.getName());
		console.log('Image URL: ' + profile.getImageUrl());
		console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
		window.location.href = "{% url 'my_library:my_library' %}"
	}

</script>

{% endblock %}