{% extends 'base_template.html' %}
{% load static %}

{% block content %}
<br><br>

<div style="text-align: center;">
	<h2>~ My Library ~</h2>
</div>
<br><br>

<div class="input-group input-group-lg">
  <input id="input" name="search-category" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Search your book category here..." style="margin-left: 10%">
  <div class="input-group-append"style="margin-right: 10%">
    <button id="search-button" class="btn btn-outline-secondary" type="button" onclick="searchBook()">Search</button>
  </div>
</div>

<br><br>

<h3 id='notif' style="color:red; text-align: center; display: none">Sign in first to add favorite</h3>

<div style="margin-left: 10%;margin-right: 10%">
  <h3>Favorite book(s) : <span id="fav-counter">{{ counter }}</span></h3>
  <table id="table" class="table table-hover table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead class="thead-dark">
    <tr>
      <th class="th-sm">
      </th>
      <th class="th-sm">Book Title
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Author
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Publisher
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Published Date
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Favorite
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
    </tr>
  </thead>
     <!--  <tbody>
        {% for book in response %} 
        <tr>
          <td><img src="{{ book.imageLink }}"></td>
          <td>{{ book.title }}</td>
          <td>{{ book.authors }}</td>
          <td>{{ book.publisher }}</td>
          <td>{{ book.publishedDate }}</td>
          <td><button class="btn" onclick=favorite(this.id) id="{{ book.id }}"><i class="fa fa-star"></i></button></td>
        </tr>
        {% endfor %}
      </tbody> -->
	</table>
  <script src="{% static 'js/library.js' %}"></script>
</div>
{% endblock %}